<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="Oran McClintock's portfolio – showcasing expertise in Python, Flask, and web development. Explore my CV,
    personal statement, coding projects, and contact options for professional connections. Built with Flask and hosted on PythonAnywhere." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oran McClintock | Developer Portfolio |</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='animate.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JSON-LD Markup -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Oran McClintock",
          "jobTitle": "Aspiring Developer",
          "url": "https://www.oranmcclintock.com",
          "sameAs": [
            "https://www.linkedin.com/in/oran-mcclintock-b0b522327"
          ],
          "description": "Aspiring Developer skilled in Python, JavaScript, and Web Development.",
          "image": "https://www.oranmcclintock.com/static/Oran.png"
        }
    </script>

</head>

<body>
<!-- header section -->
<section class="innerbanner" role="banner">
    <header id="header">
  <!-- navigation section -->
  <div class="header-content clearfix">
    <a class="logo" href="/">Home</a>
    <nav class="navigation" role="navigation">
      <ul class="primary-nav">
        <li><a href="/cv">CV</a></li>
        <li><a href="/personalstatement">Personal Statement</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a href="#" class="nav-toggle">Menu<span></span></a>
  </div>
  <!-- navigation section -->
</header>

  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Oran McClintock</h1>
        <p>Aspiring Developer | Skilled in Python, JavaScript, and Web Development |            A-Level Student</p>
        <!-- banner text -->
      </div>
    </div>
  </div>
</section>
<!-- header section -->
<!-- description text section -->
<section id="descripton" class="section descripton">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <p>This website was built using the Python library Flask, and hosted on PythonAnywhere.com as a demonstration of my skills & experience.
      It features my CV, Personal Statement, a range of projects, and a contact page. Thank you for visiting!</p>
    </div>
  </div>
</section>


<!-- description text section -->
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/skiing.jpg" class="work-box"> <img src="{{ url_for('static', filename='skiing.jpg') }}" alt="Oran McClintock Ski Trip">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Skiing</h5>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/top_achievers.png" class="work-box"> <img src="{{ url_for('static', filename='top_achievers.png') }}" alt="Oran McCLintock GCSE Top Achiever">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>GCSE Top Achiever</h5>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/Gaelic Football.png" class="work-box"> <img src="{{ url_for('static', filename='Gaelic_Football.png') }}" alt="Oran McClintock Gaelic Football">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Gaelic Football</h5>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/action_shot.jpeg" class="work-box"> <img src="{{ url_for('static', filename='action_shot.jpeg') }}" alt="Oran McClintock GaelicFootball">
        <div class="overlay">
          <div class="overlay-caption">

          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/pres_award.png" class="work-box"> <img src="{{ url_for('static', filename='pres_award.png') }}" alt="Oran McClintock President's Award">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>President's Award</h5>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/gala.png" class="work-box"> <img src="{{ url_for('static', filename='gala.png') }}" alt="Oran McClintock Gala">
        <div class="overlay">
          <div class="overlay-caption">

          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/hurling.png" class="work-box"> <img src="{{ url_for('static', filename='hurling.png') }}" alt="Oran McClintock Hurling">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Hurling</h5>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/home/oranmcclintock/mysite/static/glenariffe_glenravel.png" class="work-box"> <img src="{{ url_for('static', filename='glenariffe_glenravel.png') }}" alt="Oran McClintock Glenravel">
        <div class="overlay">
          <div class="overlay-caption">

          </div>
        </div>
        <!-- overlay -->
        </a> </div>
    </div>
  </div>
</section>
<!-- portfolio section -->
<!-- contact me section -->
<section id="hireme" class="section hireme">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <a href="/contact" class="btn btn-large">Contact me</a> </div>
  </div>
</section>
<!-- conact me section -->
<!-- footer -->
<footer class="section footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12">
        <p>
          <ul style="list-style: none; padding: 0;">
             <svg enable-background="new 0 0 512 512" id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="my-svg">
<a href="https://github.com/sweeny68" target="_blank">
  <g>
    <circle cx="256" cy="256" fill="#333333" r="256"></circle>
    <g>
      <path d="M256,93.9c-89.5,0-162.1,72.6-162.1,162.1c0,70.5,45,130.4,107.8,152.8c0.3,0.1,1.4,0.5,1.7,0.6 c0.9,0.3,1.9,0.5,2.9,0.5c5.3,0,9.5-4.3,9.5-9.5c0-0.3,0-0.5,0-0.8l0,0c0-8.6,0-19.5,0-28.2c-10.3,2.1-25.9,4.1-34.4,0 c-11-5.3-16.6-12.1-21.9-25.5c-6.6-16.3-21.8-20.8-22.4-23.6c-0.6-2.9,16.1-7.2,24.7,2.7c8.6,9.9,17.3,29.7,35.8,27.8 c9.1-0.9,15-2.4,18.7-3.5c0.7-6.4,2.8-14.3,8.1-19.9c-43.5-7.2-72.5-30.6-72.5-76.5c0-20.9,6-37.1,16.6-49.2 c-1.8-10-4.8-33.2,3.2-41.3c0,0,11.3-7,43.7,15.8c12.1-2.8,25.5-4.2,39.8-4.2l0,0c0.3,0,0.5,0,0.8,0c0.3,0,0.5,0,0.8,0l0,0 c14.4,0.1,27.8,1.5,39.8,4.2c32.4-22.8,43.7-15.8,43.7-15.8c8,8.2,5,31.4,3.2,41.3c10.6,12.2,16.6,28.4,16.6,49.2 c0,45.9-28.9,69.3-72.5,76.5c8.3,8.7,8.6,22.8,8.6,28.6c0,5.5,0,42.3,0,42.5c0,5.3,4.3,9.5,9.5,9.5c0.8,0,1.5-0.1,2.3-0.3 c0.2,0,0.8-0.2,1-0.3c63.5-22,109.1-82.3,109.1-153.3C418.1,166.4,345.5,93.9,256,93.9z" fill="#FFFFFF"></path>
    </g>
  </g>
</a></svg>

<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="my-svg">
<a href="https://www.linkedin.com/in/oran-mcclintock-b0b522327" target="_blank">
<path d="M0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24Z" fill="#0077B5"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.3188 14.8227C17.3188 16.3918 16.1377 17.6473 14.2412 17.6473H14.2064C12.3805 17.6473 11.2 16.3918 11.2 14.8227C11.2 13.2204 12.4164 12 14.277 12C16.1377 12 17.2835 13.2204 17.3188 14.8227ZM16.9605 19.8778V36.2196H11.5216V19.8778H16.9605ZM36.5752 36.2196L36.5754 26.8497C36.5754 21.8303 33.8922 19.4941 30.3131 19.4941C27.4254 19.4941 26.1325 21.0802 25.4107 22.1929V19.8783H19.9711C20.0428 21.4117 19.9711 36.22 19.9711 36.22H25.4107V27.0934C25.4107 26.605 25.446 26.1178 25.5898 25.7681C25.9829 24.7924 26.8779 23.7822 28.3805 23.7822C30.3494 23.7822 31.1365 25.2807 31.1365 27.4767V36.2196H36.5752Z" fill="white"/>
</a></svg>

          </ul>
        </p>
        <p>
          Made by Oran McClintock<br>
          <i class="fa fa-heart pulse"></i><a href="https://stkillianscollege.co.uk">St Killian's College, Carnlough</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->


<!-- JS FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='retina.min.js') }}"></script>
<script src="{{ url_for('static', filename='modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>